@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: "Poppins", system-ui;
    font-style: normal;
}

section {
    min-height: 100vh;
    padding: 10rem 6% 2rem;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 17vh;
    z-index: 100;
}

#navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

#logo {
    font-size: 1.5rem;
    font-weight: 700;
    cursor: default;
}
#navbar a{
    font-size: 16px;
    color: #000;
    margin-left: 4rem;
    font-weight: 700;
    transition: 0.2s;
}
#navbar ul li a:hover,
#navbar a.active{
    border-bottom: 2px solid black;
}

button {
    padding: 10px 20px;
    background-color: #ffc400;
    border: none;
    cursor: pointer;
}


#menu-icon {
    font-size: 3.6rem;
    display: none;

}

/* hamburger menu */
#hamburger-nav {
    display: none;
    justify-content: space-between;
}

.hamburger-menu {
    position: relative;
    display: inline;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px ;
    cursor: pointer;
}
/* home section  */
.hero {
    display: flex;
    align-items: center;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}
.social-media {
    margin: 8px 0;
}
.hero-text .social-media a{
    color: #000;
    font-size: 27px;
}
.social-media a:hover{
    color: #ffc400;
}

.hero-text .download-btn{
    padding: 7px 20px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border:2px solid #ffc400;
    margin-right: 10px;
    color: #ffc400;
}

.hero-text .download-btn:hover {
    /* transform: translateY(-10px); */
    background-color: #ffc400;
    color: #000;
}



.hero-image img{
    width: 400px;
    height: 400px;
    padding: 31px;
    margin: 37px;
}


/* project section  */

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    background-color: white;
    padding: 20px;
    margin: 10px;
    width: calc(50% - 40px);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.project-card h3 {
    margin-bottom: 10px;
}

.project-card p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.project-card a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #333;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.project-card a:hover {
    background-color: #333;
    color: white;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 1200px) {
    #header {
        display: none;
    }
    #hamburger-nav {
        display: flex;
    }
}

@media (max-width: 788px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-image img {
        width: 200px;
    }

    .service-container, .projects-container, .testimonial-container {
        flex-direction: column;
    }

    .service-item, .projects-card, .testimonial-item {
        flex-basis: 100%;
        width: 100%;
    }
}
